html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black; /* Black background for the entire page */
  color: white; /* Ensure text is visible */
  overflow: hidden; /* Optional: Prevent scrollbars if not needed */
  position: relative; /* Allow for absolute positioning of child elements */
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative; /* Allow layering of elements */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Ensure any 3D model or background element is on top */
.threeD-model-container {
  position: absolute; /* Position it over the black background */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Ensure it's behind other content */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes moveStar {
  0% { transform: translateY(0); }
  100% { transform: translateY(100vh); }
}
